:root {
    --main-color: #ff9494;
    --sub-color: #e67373;
    --light-color: #ffe3e1;
}

.body {
    font-family: "VL_Selphia";
    background-color: #fff5e4;
}

.title{
    font-size: 40px;
    color: var(--main-color);
    font-weight: lighter;
}

@font-face {
    font-family: 'VL_Selphia';
    src: url('/date/resources/fonts/VL_Selphia.otf') format(opentype);
}

@media  (max-width: 768px) {
    .body {
        font-family: 'VL_Selphia';
    }
}